NORMAN_DB_HOST=localhost
NORMAN_DB_PORT=8889
NORMAN_DB_NAME=youdatabasename

NORMAN_DB_WEB_USER=your_web_database_user
NORMAN_DB_WEB_PASSWORD=your_web_database_password

NORMAN_DB_ADMIN_USER=your_admin_database_user
NORMAN_DB_ADMIN_PASSWORD=your_admin_database_password
