NORMAN_DB_HOST=
NORMAN_DB_PORT=
NORMAN_DB_NAME=

NORMAN_DB_WEB_USER=
NORMAN_DB_WEB_PASSWORD=

NORMAN_DB_ADMIN_USER=
NORMAN_DB_ADMIN_PASSWORD=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_ANALYTICS_MAX_DAYS=
CLOUDFLARE_ANALYTICS_CACHE_DIR=
CLOUDFLARE_ANALYTICS_SECRETS_FILE=
